* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-columns: 70% 30%;
    grid-template-rows: 40px 1fr;

    grid-template-areas: 
    "header header"
    "main aside";
}

.container {
    border: black 1px solid;
}

.video {
    width: 720px;
    height: 480px;
    background-color: blanchedalmond;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    padding: 60px;
}

.aside {
    grid-area: aside;
    padding: 20px;
}

.flex-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.mini-video {
    width: 200px;
    height: 120px;
    background-color: blanchedalmond;
}

.descri-top {
    height: 80%;
}

