* {
   box-sizing: border-box; 
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   color: pink;
   background-color: rebeccapurple;
}

legend {
    font-size: 24px;
    text-align: center;
}


fieldset {
    margin: 20px;
    padding: 15px;
    border: solid 5px rgb(240, 48, 224, 0.5);
    border-radius: 20px;
}

div {
    margin: 20px;
    padding: 15px;
    border: solid 5px rgb(231, 65, 168, 0.5);
    border-radius: 20px;
}

button {
    margin: 20px;
    padding: 10px;
    border: solid 5px rgb(231, 65, 168, 0.5);
    border-radius: 20px;
    background-color: red;
}
